/* start header */
header {
    background-color: $second-c;
    height: 100vh;
    position: relative;
    &::before {
        content: "";
        width: 100%;
        height: 50%;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: $main-c;
    }
    &::after {
        content: "";
        width: 50%;
        height: 50%;
        position: absolute;
        left: 30%;
        transform: translateX(-50%);
        bottom: 20%;
        background-color: $main-c;
        border-radius: 40%;
        transform: rotate(-10deg);
    }
    nav {
        gap: 20px;
        position: fixed;
        top: 30px;
        left: 30px;
        right: 30px;
        z-index: 111;
        border-radius: 6px;
        background-color: $second-c;
        padding: 10px 20px;
        @media (min-width: 768px) {
            ul {
                display: flex !important;
            }
        }
        @media (max-width: 767px) {
            ul {
                flex-direction: column;
                position: absolute;
                left: 0;
                top: calc(100% + 20px);
                border: 1px solid $text-c;
                width: 100%;
                background-color: $main-c;
                padding: 30px 20px;
                li {
                    a {
                        &.active, &:hover {
                            color: $second-c !important;
                            &::before {
                                width: 100%;
                                background-color: $second-c !important;
                            }
                        }
                    }
                }
            }
        }
        .logo {
            font-size: 30px;
            font-weight: 700;
            color: $white-c;
            font-style: italic;
            position: relative;
        }
        ul {
            display: none;
            align-items: center;
            gap: 20px;
            li {
                a {
                    font-size: 16px;
                    text-transform: capitalize;
                    color: $white-c;
                    position: relative;
                    &::before {
                        content: "";
                        width: 0;
                        height: 2px;
                        background-color: $main-c;
                        position: absolute;
                        left: 0;
                        top: 100%;
                        transition: .3s linear;
                    }
                    &.active, &:hover {
                        color: $main-c;
                        &::before {
                            width: 100%;
                        }
                    }
                }
            }
        }
        .phone-contact {
            position: relative;
            @media (min-width: 768px) {
                .menu, .close {
                    display: none !important;
                }
            }
            @media (max-width: 500px) {
                .icon {
                    display: none !important;
                }
            }
            @media (max-width: 350px) {
                .phone-number {
                    display: none !important;
                }
            }
            margin-left: auto;
            gap: 15px;
            .icon {
                width: 40px;
                height: 40px;
                background-color: $white-c;
                border-radius: 50%;
                i {
                    color: $black-t;
                    font-size: 20px;
                }
            }
            .phone-number {
                border-color: $white-c;
                color: $white-c;
            }
            .menu, .close {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                i {
                    font-size: 20px;
                    color: $white-c;
                }
            }
            .close {
                display: none;
            }
        }
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;
        z-index: 1;
        @media (min-width: 922px) {
            .info, .illus {
                width: calc(50% - 20px) !important;
            }
        }
        @media (max-width: 921px) {
            .illus {
                display: none;
            }
        }
        .info {
            width: 100%;
            .profile {
                gap: 10px;
                margin-bottom: 20px;
                .avatar {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }
                .btn {
                    background-color: $white-c;
                    border-color: $white-c;
                    font-size: 22px;
                    font-weight: 700;
                    color: $black-t;
                    text-transform: capitalize;
                }
            }
            .comment {
                background-color: $white-c;
                border-color: $white-c;
                color: $main-c;
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 20px;
            }
            a {
                background-color: $second-c;
                color: $white-c;
                text-transform: capitalize;
                font-size: 16px;
                border-color: $second-c;
                &:hover {
                    border-color: $white-c;
                }
            }
        }
        .illus {
            width: 100%;
            img {
                width: 100%;
            }
        }
    }

}

/* start header */